* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lemon Milk";
  src: url(/Assets/Fonts/LemonMilk.otf)
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #34495e;
  font-family: "Lemon Milk";
  flex-direction: column;
}

/* Navigation Bar */

nav {
  position: fixed;
  top:0;
  width: 100vw;
  height: 150px;
  display: flex;
  background-color: #3498db;
  justify-content: space-between;
  padding:25px;
}

.btn-restart {
  font-size:32px;
  color: #eeeeee;
  background-color: #34495e;
  align-self: center;
  padding:15px;
  padding-right:30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.img-restart {
  max-width:48px;
  max-height:48px;
  padding-right:5px;
}

.title {
  color:#eeeeee;
  font-size: 64px;
  align-self: center;
}

#cont-time{
  display: flex;
}

#time {
  color:#eeeeee;
  font-size: 48px;
  align-self: center;
}

/* Overlay */
#btn_style {
  width: 300px;
  border: 0px soild;
  background-color: darkorange;
  color: white;
  padding: 10px;
  border-radius: 10px;
 }

/* Memory card Container */

.memory-game {
  /* width: 880px; */
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  perspective: 1000px;
}

/* Memory cards */

.memory-card {
  width:208px;
  height: 250px;
  margin: 15px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  max-width: 250px;
  max-height: 250px;
  padding: 20px;
  position: absolute;
  background: #3498db;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}